* {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* stop sideways scroll */
    scroll-behavior: smooth;
}

.navbar {
    background-color: #e9e1d6;
    width: 100%;
    position: fixed;
    height: auto;
    z-index: 999;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.brand {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.brand img {
    object-fit: cover;
    width: 100%;
}

.brand-name {
    color: #8b698b;
    display: inline-block;
    white-space: nowrap;
    font-size: 22px;
}

.menu-toggle {
    display: none;
}

.nav-links {
    padding: 0 10px;
    display: flex;
    font-size: 18px;
}

.nav-links a {
    color: #8b698b;
    text-decoration: none;
    padding: 0 10px;
    font-size: ;
    text-align: center;
}

.nav-links p {
    color: #8b698b;
    padding: 0 10px;
}

.nav-btn {
    border: 2px solid #8b698b;
    border-radius: 8px;
    padding: 0 5px;
    margin-top: -4px;

}

.dropdown {
    position: relative;
}

.nav-links a:hover, .dropdown:hover .dropbtn {
    color: #7cb069;
}

.nav-btn:hover {
    color: #7cb069;
    border-color: #7cb069;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e9e1d6;
    min-width: 150px;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-content a {
    padding: 3px 5px;
    display: block;
    white-space: nowrap;
    color: ;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    width: 100%;
    background-color: #e9e1d6;
    height: auto;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 25px 25px;
}

.footer-box {
    flex: 1;
    padding: 20px 20px;
    border: 2px solid #8b698b;
    border-radius: 8px;
    text-align: center;
}

.footer-box h3 {
    font-size: 20px;
    padding-bottom: 20px;
    color: #8b698b;
}

.footer-box a, .footer-box i, .footer-box p {
    color: #8b698b;
    padding: 10px 0;
    text-decoration: none;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.hero-content {
    flex: 1;
    padding: 0px 25px;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 40px;
}

.hero-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content h1 {
    color: #7cb069;
    font-size: 60px;
    text-transform: uppercase;
}

.hero-content p {
    color: #7cb069;
    padding: 20px 0;
    font-size: 20px;
}

.about-section {
    background: #7cb069;
    width: 100%;
    text-align: center;
    justify-items: center;
    padding: 30px 0;
}

.about-section h2 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.about-section img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin: 20px 0;
}

.about-section p {
    color: #fff;
    font-size: 18px;
    width: 700px;
}

.services-section {
    width: 100%;
    background-color: #e9e1d6;
    padding: 30px 20px;
    justify-items: center;
}

.services-section h2 {
    font-size: 40px;
    color: #8b698b;
    text-transform: uppercase;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 140px;
    gap: 10px;
}

.services-box {
    flex: initial;
    width: 200px;
    height: 165px;
    border: 2px solid #8b698b;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}

.services-box i {
    color: #8b698b;
    font-size: 35px;
    padding-top: 20px;
}

.services-box p {
    color: #8b698b;
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px 0;
}

.times {
    width: 100%;
    color: #fff;
    justify-items: center;
    padding: 35px 0px;
    position: relative;
    height: 355px;
}

.times-img {
    height: 350px;
    width: 800px;
    z-index: 1;
    position: absolute;
}

.times-img img {
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
}

.times-overlay {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding-top: 0;
}

.times-overlay h5{
    font-size: 35px;
    text-transform: uppercase;
    color: #52cf2a;
    padding-bottom: 20px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.times-overlay p {
    color: #52cf2a;
    font-size: 20px;
    padding-bottom: 10px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.about-hero {
    width: 100%;
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 40px;
    height: auto;
}

.about-hero-content {
    background-color: #7cb069;
    margin: 0 100px;
    text-align: center;
    height: 400px;
}

.about-hero-content h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px 0;
}

.about-hero-content p {
    padding: 0 60px;
    color: #fff;
    margin-bottom: 30px;
}

.review-section {
    width: 100%;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 30px;
}

.review-section h1 {
    color: #8b698b;
    font-size: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.review-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 70px;
}

.review-box {
    flex: initial;
    width: 250px;
    background-color: #e9e1d6;
    border-radius: 8px;
    border: 2px solid #8b698b;
    padding: 20px 20px;
}

.review-box i {
    color: #7cb069;
    font-size: 40px;
}

.review-box p {
    color: #7cb069;
    font-size: 16px;
    padding: 20px 0;
}

.review-names {
    font-size: 18px;
}

.contact {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 30px;
}

.contact-flex {
    flex: 1;
    justify-items: center;
}

.contact-flex  h1 {
    text-align: center;
    color: #7cb069;
    text-transform: uppercase;
}

.contact-inner-flex {
    display: flex;
    padding: 20px 110px;
}

.contact-inner-content  i {
    font-size: 25px;
    color: #7cb069;
    padding-bottom: 40px;
}

.contact-inner-content p {
    color: #7cb069;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.contact-number {
    padding-top: 5px;
}

.contact-email {
    padding-top: 33px;
}

.contact-social {
    padding-left: 20px;
}

form legend {
    color: #7cb069;
    font-size: 18px; 
}

form input, textarea {
    border: 1px solid #7cb069;
    width: 250px;
}

form button {
    color: #7cb069;
    background-color: #fff;
    border: 2px solid #7cb069;
    padding: 5px 8px;
}

form input:hover, form textarea:hover {
    border: 2px solid #8b698b;
}

form button:hover {
    border: 2px solid #8b698b;
    color: #8b698b;
    background-color: #e9e1d6;
}