* {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* stop sideways scroll */
    scroll-behavior: smooth;
}

.navbar {
    background-color: #e9e1d6;
    width: 100%;
    position: fixed;
    height: auto;
    z-index: 999;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.brand {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.brand img {
    object-fit: cover;
    width: 100%;
}

.brand-name {
    color: #8b698b;
    display: inline-block;
    white-space: nowrap;
    font-size: 22px;
}

.menu-toggle {
    display: none;
}

.nav-links {
    padding: 0 10px;
    display: flex;
    font-size: 18px;
}

.nav-links a {
    color: #8b698b;
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
}

.nav-links p {
    color: #8b698b;
    padding: 0 10px;
}

.nav-btn {
    border: 2px solid #8b698b;
    border-radius: 8px;
    padding: 0 5px;
    margin-top: -4px;

}

.dropdown {
    position: relative;
}

.nav-links a:hover,
.dropdown:hover .dropbtn {
    color: #7cb069;
}

.nav-btn:hover {
    color: #7cb069;
    border-color: #7cb069;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e9e1d6;
    min-width: 150px;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-content a {
    padding: 3px 5px;
    display: block;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mobile-top-menu {
    display: none;
}

footer {
    width: 100%;
    background-color: #e9e1d6;
    height: auto;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 25px 25px;
}

.footer-box {
    flex: 1;
    padding: 20px 20px;
    border: 2px solid #8b698b;
    border-radius: 8px;
    text-align: center;
}

.footer-box h3 {
    font-size: 20px;
    padding-bottom: 20px;
    color: #8b698b;
}

.footer-box a,
.footer-box i,
.footer-box p {
    color: #8b698b;
    padding: 10px 0;
    text-decoration: none;
}

.copyright p {
    text-align: center;
    font-size: 18px;
    color: #8b698b;

}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.hero-content {
    flex: 1;
    padding: 0px 25px;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 40px;
}

.hero-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content h1 {
    color: #7cb069;
    font-size: 60px;
    text-transform: uppercase;
}

.hero-content p {
    color: #7cb069;
    padding: 20px 0;
    font-size: 20px;
}

.about-section {
    background: #7cb069;
    width: 100%;
    text-align: center;
    justify-items: center;
    padding: 30px 0;
}

.about-section h2 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.about-section img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin: 20px 0;
}

.about-section p {
    color: #fff;
    font-size: 18px;
    width: 700px;
}

.services-section {
    width: 100%;
    background-color: #e9e1d6;
    padding: 30px 20px;
    justify-items: center;
}

.services-section h2 {
    font-size: 40px;
    color: #8b698b;
    text-transform: uppercase;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 140px;
    gap: 10px;
}

.services-box {
    flex: initial;
    width: 200px;
    height: 165px;
    border: 2px solid #8b698b;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}

.services-box i {
    color: #8b698b;
    font-size: 35px;
    padding-top: 20px;
}

.services-box p {
    color: #8b698b;
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px 0;
}

.times {
    width: 100%;
    color: #fff;
    justify-items: center;
    padding: 35px 0px;
    position: relative;
    height: 355px;
}

.times-img {
    height: 350px;
    width: 800px;
    z-index: 1;
    position: absolute;
}

.times-img img {
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
}

.times-overlay {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding-top: 0;
}

.times-overlay h5 {
    font-size: 35px;
    text-transform: uppercase;
    color: #52cf2a;
    padding-bottom: 20px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.times-overlay p {
    color: #52cf2a;
    font-size: 20px;
    padding-bottom: 10px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.about-hero {
    width: 100%;
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 40px;
    height: auto;
}

.about-hero-content {
    background-color: #7cb069;
    margin: 0 100px;
    text-align: center;
    height: 320px;
}

.about-hero-content h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px 0;
}

.about-hero-content p {
    padding: 0 60px;
    color: #fff;
    margin-bottom: 30px;
}

.review-section {
    width: 100%;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 30px;
}

.review-section h1 {
    color: #8b698b;
    font-size: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.review-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 70px;
}

.review-box {
    flex: initial;
    width: 250px;
    background-color: #e9e1d6;
    border-radius: 8px;
    border: 2px solid #8b698b;
    padding: 20px 20px;
}

.review-box i {
    color: #7cb069;
    font-size: 40px;
}

.review-box p {
    color: #7cb069;
    font-size: 16px;
    padding: 20px 0;
}

.review-names {
    font-size: 18px;
}

.contact {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 30px;
}

.contact-flex {
    flex: 1;
    justify-items: center;
}

.contact-flex h1 {
    text-align: center;
    color: #7cb069;
    text-transform: uppercase;
}

.contact-inner-flex {
    display: flex;
    padding: 20px 110px;
}

.contact-inner-content i {
    font-size: 25px;
    color: #7cb069;
    padding-bottom: 40px;
}

.contact-inner-content p {
    color: #7cb069;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.contact-number {
    margin-top: 22px;
}

.contact-email {
    margin-top: 35px;
}

.contact-social {
    padding-left: 20px;
}

form legend {
    color: #7cb069;
    font-size: 18px;
}

form input,
textarea {
    border: 1px solid #7cb069;
    width: 250px;
}

form button {
    color: #7cb069;
    background-color: #fff;
    border: 2px solid #7cb069;
    padding: 5px 8px;
}

form input:hover,
form textarea:hover {
    border: 2px solid #8b698b;
}

form button:hover {
    border: 2px solid #8b698b;
    color: #8b698b;
    background-color: #e9e1d6;
}

@media (max-width: 480px) {
    .nav-links {
        display: none;
    }

    .mobile-top-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 20px;
        z-index: 3000;
    }

    #mobile-menu-btn {
        font-size: 20px;
        padding: 8px 8px;
        border-radius: 12px;
        border: 1px solid #8b698b;
        background: #8b698b;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }

    #mobile-menu-btn:focus,
    #mobile-menu-btn:active {
        transform: none;
        scale: 1;
        /* ensure it stays same size */
    }

    /* Dropdown menu */
    .mobile-dropdown {
        display: none;
        list-style: none;
        margin-top: 15px;
        padding: 0;
        background: #e9e1d6;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 100%;
        right: 0;
        width: 175px;
        z-index: 4100;
    }

    .mobile-dropdown.active {
        display: block;
    }

    .mobile-menu-item {
        padding: 12px 16px;
        color: #8b698b;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        font-size: 18px;
    }

    .mobile-menu-item a {
        text-decoration: none;
        color: #8b698b;
    }

    /* Submenu styling */
    .mobile-submenu {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding-left: 10px;
    }

    .mobile-submenu li a {
        display: block;
        padding: 10px 16px;
        color: #8b698b;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-submenu li a:hover {
        color: #7b00ff;
    }

    .mobile-submenu.active {
        max-height: 500px;
        /* adjust based on content */
    }

    /* Arrow Icon */
    .mobile-menu-item .arrow {
        font-size: 12px;
        transition: transform 0.3s ease;
        transform: rotate(270deg);
    }

    .mobile-menu-item.open .arrow {
        transform: rotate(360deg);
    }

    .footer-section {
        flex-direction: column;
    }

    .copyright {
        padding: 0 10px;
    }

    .hero {
        flex-direction: column;
    }

    .mobile-hero {
        margin-top: -25px;
    }

    .about-section h2 {
        padding: 0 15px;
    }

    .about-section p {
        width: 280px;
    }

    .services-section h2 {
        margin-left: -30px;
    }

    .services-content {
        margin-left: -30px;
    }

    .about-hero-content {
        width: 270px;
        justify-self: center;
        height: 970px;
    }

    .about-hero-content p {
        width: 150px;
        justify-self: center;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .nav-links {
        display: none;
    }

    .mobile-top-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 20px;
        z-index: 3000;
    }

    #mobile-menu-btn {
        font-size: 20px;
        padding: 8px 8px;
        border-radius: 12px;
        border: 1px solid #8b698b;
        background: #8b698b;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }

    #mobile-menu-btn:focus,
    #mobile-menu-btn:active {
        transform: none;
        scale: 1;
        /* ensure it stays same size */
    }

    /* Dropdown menu */
    .mobile-dropdown {
        display: none;
        list-style: none;
        margin-top: 15px;
        padding: 0;
        background: #e9e1d6;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 100%;
        right: 0;
        width: 175px;
        z-index: 4100;
    }

    .mobile-dropdown.active {
        display: block;
    }

    .mobile-menu-item {
        padding: 12px 16px;
        color: #8b698b;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        font-size: 18px;
    }

    .mobile-menu-item a {
        text-decoration: none;
        color: #8b698b;
    }

    /* Submenu styling */
    .mobile-submenu {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding-left: 10px;
    }

    .mobile-submenu li a {
        display: block;
        padding: 10px 16px;
        color: #8b698b;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-submenu li a:hover {
        color: #7b00ff;
    }

    .mobile-submenu.active {
        max-height: 500px;
        /* adjust based on content */
    }

    /* Arrow Icon */
    .mobile-menu-item .arrow {
        font-size: 12px;
        transition: transform 0.3s ease;
        transform: rotate(270deg);
    }

    .mobile-menu-item.open .arrow {
        transform: rotate(360deg);
    }

    .footer-section {
        flex-direction: column;
    }

    .copyright {
        padding: 0 10px;
    }

    .hero {
        flex-direction: column;
    }

    .mobile-hero {
        margin-top: -25px;
    }

    .about-section h2 {
        padding: 0 15px;
    }

    .about-section p {
        width: 300px;
    }

    .services-section h2 {
        margin-left: -30px;
    }

    .services-content {
        margin-left: 10px;
    }

    .about-hero-content {
        width: 400px;
        justify-self: center;
        height: 550px;
    }

    .about-hero-content p {
        width: 300px;
        justify-self: center;
    }

    .review-section h1 {
        font-size: 45px;
    }

    .review-flex {
        justify-content: center;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .mobile-top-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 20px;
        z-index: 3000;
    }

    #mobile-menu-btn {
        font-size: 20px;
        padding: 8px 8px;
        border-radius: 12px;
        border: 1px solid #8b698b;
        background: #8b698b;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }

    #mobile-menu-btn:focus,
    #mobile-menu-btn:active {
        transform: none;
        scale: 1;
        /* ensure it stays same size */
    }

    /* Dropdown menu */
    .mobile-dropdown {
        display: none;
        list-style: none;
        margin-top: 15px;
        padding: 0;
        background: #e9e1d6;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 100%;
        right: 0;
        width: 175px;
        z-index: 4100;
    }

    .mobile-dropdown.active {
        display: block;
    }

    .mobile-menu-item {
        padding: 12px 16px;
        color: #8b698b;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        font-size: 18px;
    }

    .mobile-menu-item a {
        text-decoration: none;
        color: #8b698b;
    }

    /* Submenu styling */
    .mobile-submenu {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding-left: 10px;
    }

    .mobile-submenu li a {
        display: block;
        padding: 10px 16px;
        color: #8b698b;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-submenu li a:hover {
        color: #7b00ff;
    }

    .mobile-submenu.active {
        max-height: 500px;
        /* adjust based on content */
    }

    /* Arrow Icon */
    .mobile-menu-item .arrow {
        font-size: 12px;
        transition: transform 0.3s ease;
        transform: rotate(270deg);
    }

    .mobile-menu-item.open .arrow {
        transform: rotate(360deg);
    }

    .footer-section {
        flex-direction: column;
    }

    .copyright {
        padding: 0 10px;
    }

    .hero {
        flex-direction: column;
    }

    .mobile-hero {
        margin-top: -25px;
    }

    .about-section h2 {
        padding: 0 15px;
    }

    .about-section p {
        width: 500px;
    }

    .services-section h2 {
        margin-left: -30px;
    }

    .services-content {
        margin-left: -30px;
    }

    .about-hero-content {
        width: 600px;
        justify-self: center;
        height: 470px;
    }

    .about-hero-content p {
        width: 400px;
        justify-self: center;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    .nav-links {
        display: none;
    }

    .mobile-top-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 20px;
        z-index: 3000;
    }

    #mobile-menu-btn {
        font-size: 20px;
        padding: 8px 8px;
        border-radius: 12px;
        border: 1px solid #8b698b;
        background: #8b698b;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }

    #mobile-menu-btn:focus,
    #mobile-menu-btn:active {
        transform: none;
        scale: 1;
        /* ensure it stays same size */
    }

    /* Dropdown menu */
    .mobile-dropdown {
        display: none;
        list-style: none;
        margin-top: 15px;
        padding: 0;
        background: #e9e1d6;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 100%;
        right: 0;
        width: 175px;
        z-index: 4100;
    }

    .mobile-dropdown.active {
        display: block;
    }

    .mobile-menu-item {
        padding: 12px 16px;
        color: #8b698b;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        font-size: 18px;
    }

    .mobile-menu-item a {
        text-decoration: none;
        color: #8b698b;
    }

    /* Submenu styling */
    .mobile-submenu {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding-left: 10px;
    }

    .mobile-submenu li a {
        display: block;
        padding: 10px 16px;
        color: #8b698b;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-submenu li a:hover {
        color: #7b00ff;
    }

    .mobile-submenu.active {
        max-height: 500px;
        /* adjust based on content */
    }

    /* Arrow Icon */
    .mobile-menu-item .arrow {
        font-size: 12px;
        transition: transform 0.3s ease;
        transform: rotate(270deg);
    }

    .mobile-menu-item.open .arrow {
        transform: rotate(360deg);
    }

    .footer-section {
        flex-direction: column;
    }

    .copyright {
        padding: 0 10px;
    }

    .hero {
        flex-direction: column;
    }

    .mobile-hero {
        margin-top: -25px;
    }

    .about-section h2 {
        padding: 0 15px;
    }

    .about-section p {
        width: 500px;
    }

    .services-section h2 {
        margin-left: -30px;
    }

    .services-content {
        margin-left: -30px;
    }

    .about-hero-content {
        width: 700px;
        justify-self: center;
        height: 400px;
    }

    .about-hero-content p {
        width: 500px;
        justify-self: center;
    }

    .review-flex {
        justify-content: center;
        gap: 30px;
    }
}

@media (min-width: 901px) and (max-width: 1024px) {
    .nav-links {
        display: none;
    }

    .mobile-top-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 20px;
        z-index: 3000;
    }

    #mobile-menu-btn {
        font-size: 20px;
        padding: 8px 8px;
        border-radius: 12px;
        border: 1px solid #8b698b;
        background: #8b698b;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }

    #mobile-menu-btn:focus,
    #mobile-menu-btn:active {
        transform: none;
        scale: 1;
        /* ensure it stays same size */
    }

    /* Dropdown menu */
    .mobile-dropdown {
        display: none;
        list-style: none;
        margin-top: 15px;
        padding: 0;
        background: #e9e1d6;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 100%;
        right: 0;
        width: 175px;
        z-index: 4100;
    }

    .mobile-dropdown.active {
        display: block;
    }

    .mobile-menu-item {
        padding: 12px 16px;
        color: #8b698b;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        font-size: 18px;
    }

    .mobile-menu-item a {
        text-decoration: none;
        color: #8b698b;
    }

    /* Submenu styling */
    .mobile-submenu {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding-left: 10px;
    }

    .mobile-submenu li a {
        display: block;
        padding: 10px 16px;
        color: #8b698b;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-submenu li a:hover {
        color: #7b00ff;
    }

    .mobile-submenu.active {
        max-height: 500px;
        /* adjust based on content */
    }

    /* Arrow Icon */
    .mobile-menu-item .arrow {
        font-size: 12px;
        transition: transform 0.3s ease;
        transform: rotate(270deg);
    }

    .mobile-menu-item.open .arrow {
        transform: rotate(360deg);
    }

    .footer-section {
        flex-direction: column;
    }

    .copyright {
        padding: 0 10px;
    }

    .hero {
        flex-direction: column;
    }

    .mobile-hero {
        margin-top: -25px;
    }

    .about-section h2 {
        padding: 0 15px;
    }

    .about-section p {
        width: 600px;
    }

    .services-section h2 {
        margin-left: -30px;
    }

    .services-content {
        margin-left: -30px;
    }

    .about-hero-content {
        width: 800px;
        justify-self: center;
        height: 400px;
    }

    .about-hero-content p {
        width: 600px;
        justify-self: center;
    }

    .review-section h1 {
        font-size: 60px;
    }

    .review-flex {
        justify-content: center;
        gap: 40px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .nav-links {
        display: none;
    }

    .mobile-top-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 20px;
        z-index: 3000;
    }

    #mobile-menu-btn {
        font-size: 20px;
        padding: 8px 8px;
        border-radius: 12px;
        border: 1px solid #8b698b;
        background: #8b698b;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        transform: none;
        transition: none;
    }

    #mobile-menu-btn:focus,
    #mobile-menu-btn:active {
        transform: none;
        scale: 1;
        /* ensure it stays same size */
    }

    /* Dropdown menu */
    .mobile-dropdown {
        display: none;
        list-style: none;
        margin-top: 15px;
        padding: 0;
        background: #e9e1d6;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 100%;
        right: 0;
        width: 175px;
        z-index: 4100;
    }

    .mobile-dropdown.active {
        display: block;
    }

    .mobile-menu-item {
        padding: 12px 16px;
        color: #8b698b;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        font-size: 18px;
    }

    .mobile-menu-item a {
        text-decoration: none;
        color: #8b698b;
    }

    /* Submenu styling */
    .mobile-submenu {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding-left: 10px;
    }

    .mobile-submenu li a {
        display: block;
        padding: 10px 16px;
        color: #8b698b;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-submenu li a:hover {
        color: #7b00ff;
    }

    .mobile-submenu.active {
        max-height: 500px;
        /* adjust based on content */
    }

    /* Arrow Icon */
    .mobile-menu-item .arrow {
        font-size: 12px;
        transition: transform 0.3s ease;
        transform: rotate(270deg);
    }

    .mobile-menu-item.open .arrow {
        transform: rotate(360deg);
    }

    .footer-section {
        flex-direction: column;
    }

    .copyright {
        padding: 0 10px;
    }

    .hero {
        flex-direction: column;
    }

    .mobile-hero {
        margin-top: -25px;
    }

    .about-section h2 {
        padding: 0 15px;
    }

    .about-section p {
        width: 600px;
    }

    .services-section h2 {
        margin-left: -30px;
    }

    .services-content {
        margin-left: -30px;
        justify-content: center;
        gap: 20px;
    }

    .about-hero-content {
        width: 1100px;
        justify-self: center;
        height: 320px;
    }

    .about-hero-content p {
        width: 900px;
        justify-self: center;
    }

    .review-flex {
        justify-content: center;
        gap: 30px;
    }
}